<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BillyJonesUK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BillyJonesUK.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow" style="background: #3E4756;">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" asp-area="" asp-controller="Home" asp-action="Index" style="color: #F6B62B;">BillyJones.uk</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light box-shadow" style="background: #3E4756;">
        <div class="container">
            &copy; 2022 - BillyJones.uk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
